.git
.github
node_modules
**/node_modules
dist
**/dist
.next
**/.next
out
**/out
.turbo
**/.turbo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
tmp
coverage
